@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

:root {
  --background: #474747;
  --kenzie: #01356b;
  --light_gray: #a7a5b6;
  --danger: #de1a1a;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-image: url(./images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
